.venv
__pycache__
*.pyc
*.pyo

.pytest_cache

.git
.gitignore

.env

.coverage
htmlcov

logs
*.log

.ipynb_checkpoints
notebooks

frontend/node_modules
frontend/dist

data/raw

*.db
*.sqlite
*.sqlite3

reports

.DS_Store